extend layout

block content
  section.content-header
    h1 Admin Dashboard
      small Welcome to Named Framework
    ol.breadcrumb
      li
        a(href="/admin/dashboard") Dashboard
      li.active API 
      
  .content.container-fluid
      - var sn = 1
      each routes, model in Framework.apiroutes
        div(class= sn % 2 == 0 ? 'row' : '')
          .col-md-6
            .box.box-success
              .box-header.with-border
                h3.box-title= model 
                .box-tools.pull-right
                  button.btn.btn-box-tool(data-widget="collapse")
                    i.fa.fa-minus 
              .box-body
                if routes.get.length > 0
                  h3 Get 
                  ul
                    each route in routes.get
                      li= route 
                if routes.post.length > 0
                  h3 POST 
                  ul
                    each route in routes.post 
                      li= route  
                if routes.delete.length > 0
                  h3 Delete
                  ul
                    each route in routes.delete 
                      li= route   
                    
        - sn++ 
              
