extend layout

block content
  .content-header
    .container-fluid
      .row.mb-2
        .col-sm-6
          h1.m-0.text-dark Admin Dashboard
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item.active Dashboard
  
  .content
    .container-fluid
      .row
        .col-lg-3.col-6
          .small-box.bg-info
            .inner
              h3= adminCount
              p Admins 
            .icon
              i.fa.fa-user 
            a.small-box-footer(href='/admin/admin/list')
              | More info 
              i.fa.fa-arrow-circle-right
        .col-lg-3.col-6
          .small-box.bg-success
            .inner
              h3= userCount
              p Users 
            .icon
              i.fa.fa-users
            a.small-box-footer(href='/admin/user/list')
              | More info 
              i.fa.fa-arrow-circle-right
        
