extend layout

block content
  section.content-header
    h1 Admin Dashboard
      small Welcome to Named Framework
    ol.breadcrumb
      li.active Dashboard
      
  .content.container-fluid
    h1 Welcome
