doctype html
html
  head
    meta(charset="utf-8") 
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name="viewport") 
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/vendor/Ionicons/css/ionicons.min.css")
    link(rel="stylesheet", href="/admin/dist/css/AdminLTE.min.css")
    link(rel="stylesheet", href="/admin/dist/css/skins/skin-green-light.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic") 
    
    block head
      title Named Framework :: Admin Panel  
      
  body.hold-transition.skin-green-light.sidebar-mini
    include parts/header
    include parts/sidemenu
    
    .content-wrapper
      include ../parts/message 
      block content 
        
    
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(src="/admin/dist/js/adminlte.min.js")

    
