extend layout

block content
  section.content-header
    h1 Admin Dashboard
      small Welcome to Named Framework
    ol.breadcrumb
      li
        a(href="/admin/dashboard") Dashboard
      li.active Routes
      
  .content.container-fluid
    .row
      .col-md-6
        .box.box-success
          .box-header.with-border
            h3.box-title Get Routes 
            .box-tools.pull-right
              button.btn.btn-box-tool(data-widget="collapse")
                i.fa.fa-minus 
          .box-body
            each route in Framework.routes.get  
              p= route 
      .col-md-6
        .box.box-warning
          .box-header.with-border
            h3.box-title Post Routes 
            .box-tools.pull-right
              button.btn.btn-box-tool(data-widget="collapse")
                i.fa.fa-minus 
          .box-body
            each route in Framework.routes.post  
              p= route 
      .col-md-6
        .box.box-info
          .box-header.with-border
            h3.box-title Put Routes 
            .box-tools.pull-right
              button.btn.btn-box-tool(data-widget="collapse")
                i.fa.fa-minus 
          .box-body
            each route in Framework.routes.put  
              p= route 
      .col-md-6
        .box.box-danger
          .box-header.with-border
            h3.box-title Delete Routes 
            .box-tools.pull-right
              button.btn.btn-box-tool(data-widget="collapse")
                i.fa.fa-minus 
          .box-body
            each route in Framework.routes.delete  
              p= route 
