extend ../layout 

block content
  .content
    .container-fluid
      .error-page
        h2.headline.text-red 500
        .error-content
          h3
            i.fa.fa-warning.text-red
            |  Oops! Something went wrong.
          p
            | We will work on fixing that right away.
            | Meanwhile, you may 
            a(href='/admin') return to dashboard
          
    if error
      p= error.message
      p= JSON.stringify(error)
