doctype html
html
  head
    meta(charset="utf-8") 
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name="viewport") 
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.min.css") 
    link(rel="stylesheet", href="/css/style.css") 
    
    block head
      title Named Framework Starter
      
  body
    include parts/header 
    
    .container
      include parts/message 
      block content 
        
    
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js") 

    
