header.main-header
  a.logo
    span.logo-mini #[b N]F
    span.logo-lg #[b Named] Framework
    
  nav.navbar.navbar-static-top(role="navigation")
    a.sidebar-toggle(href="#", data-toggle="push-menu", role="button")
      span.sr-only Toggle navigation
