nav.main-header.navbar.navbar-expand.bg-white.navbar-light.border-bottom
  ul.navbar-nav
    li.nav-item
      a.nav-link(data-widget='pushmenu', href='#')
        i.fa.fa-bars
    li.nav-item.d-none.d-sm-inline-block
      a.nav-link(href='index3.html') Home
    li.nav-item.d-none.d-sm-inline-block
      a.nav-link(href='#') Contact
  // SEARCH FORM
  form.form-inline.ml-3
    .input-group.input-group-sm
      input.form-control.form-control-navbar(type='search', placeholder='Search', aria-label='Search')
      .input-group-append
        button.btn.btn-navbar(type='submit')
          i.fa.fa-search
//- header.main-header
  a.logo
    span.logo-mini #[b N]F
    span.logo-lg #[b Named] Framework
    
  nav.navbar.navbar-static-top(role="navigation")
    a.sidebar-toggle(href="#", data-toggle="push-menu", role="button")
      span.sr-only Toggle navigation
