aside.main-sidebar.sidebar-dark-primary.elevation-4
  a.brand-link(href='/admin')
    span.brand-text.font-weight-light NamedFramework
  .sidebar
    .user-panel.mt-3.pb-3.mb-3.d-flex
      .info
        a.d-block(href='javascript:;')= admin.name
    nav.mt-2
      ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
        li.nav-item
          a.nav-link(href="/admin/dashboard", class=url === '/admin/dashboard' ? 'active' : '')
            i.nav-icon.fa.fa-dashboard 
            p Dashboard  
        li.nav-item
          a.nav-link(href="/admin/admin/list", class=url.search('/admin/admin') > -1 ? 'active' : '')
            i.nav-icon.fa.fa-users 
            p Admins  
        li.nav-item
          a.nav-link(href="/admin/user/list", class=url.search('/admin/user') > -1 ? 'active' : '')
            i.nav-icon.fa.fa-user 
            p Users  
            
        li.nav-item
          a.nav-link(href="/logout/admin")
            i.nav-icon.fa.fa-sign-out 
            p Log Out
          
