extends ../layout

block head
  title Named Framework Starter :: User Login
  
block content
  .page-header
    h3 Sign in
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf) 
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='password') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-user 
          | 
          | Login
        //- a.btn.btn-link(href='/forgot') Forgot your password?
    .form-group
      .col-sm-offset-3.col-sm-7
        hr 
    if Framework.config.oauth
      .form-group
        .col-sm-offset-3.col-sm-7
          if _.isPlainObject(Framework.config.oauth.facebook)
            a.btn.btn-block.btn-facebook.btn-social(href='/login/facebook')
              i.fa.fa-facebook 
              | 
              | Sign in with Facebook
          //- if _.isPlainObject(Framework.config.oauth.twitter)
            a.btn.btn-block.btn-twitter.btn-social(href='/login/twitter')
              i.fa.fa-twitter 
              | 
              | Sign in with Twitter
          
          if _.isPlainObject(Framework.config.oauth.google)
            a.btn.btn-block.btn-google.btn-social(href='/login/google')
              i.fa.fa-google-plus 
              | 
              | Sign in with Google
          //- if _.isPlainObject(Framework.config.oauth.github)
            a.btn.btn-block.btn-github.btn-social(href='/login/github')
              i.fa.fa-github 
              | 
              | Sign in with GitHub
          //- if _.isPlainObject(Framework.config.oauth.linkedin)
            a.btn.btn-block.btn-linkedin.btn-social(href='/login/linkedin')
              i.fa.fa-linkedin 
              | 
              | Sign in with LinkedIn
          //- if _.isPlainObject(Framework.config.oauth.instagram)
            a.btn.btn-block.btn-instagram.btn-social(href='/login/instagram')
              i.fa.fa-instagram 
              | 
              | Sign in with Instagram
